.background-radial-gradient {
  height: 737px;
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(219, 34%, 29%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 36%, 27%) 80%,
        transparent 100%);
  }
  
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: 30px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
    opacity: 30%;
    animation-name: animi1;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;

  }
  
  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: 0px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    opacity: 30%;
    overflow: hidden;
    animation-name: animi1;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;

  }
  

  @keyframes animi1 {
    from{
      transform: translate(10%,50%),skew(20deg);
    }to{
      transform: translate(-10%,0);
    }
    
  }
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }

  @media (max-width: 768px) {
    .background-radial-gradient {
      height: 100vh; /* Adjust as needed */
    }
  }